body {
    color: black;
    background-color: white;
    text-align: center;
    
}

button {
    background-color: black;
    color: white;
    
}

.jour {
    background-color: white;
    color: black;
    text-align: center;
}

.nuit {
    background-color: black;
    color: white;
    text-align: center;
}